ocProjectX/ocCommonX/.settings/org.eclipse.wst.common.component
ocProjectX/ocCommonX/.settings/org.eclipse.wst.common.project.facet.core.xml
ocProjectX/ocOperatorX/.classpath
ocProjectX/ocOperatorX/.project
ocProjectX/ocOperatorX/.settings/org.eclipse.core.resources.prefs
ocProjectX/ocOperatorX/.settings/org.eclipse.jdt.core.prefs
ocProjectX/ocOperatorX/.settings/org.eclipse.m2e.core.prefs
ocProjectX/ocOperatorX/.settings/org.eclipse.wst.common.component
ocProjectX/ocOperatorX/.settings/org.eclipse.wst.common.project.facet.core.xml
ocProjectX/ocOperatorX/.settings/org.eclipse.wst.jsdt.ui.superType.container
ocProjectX/ocOperatorX/.settings/org.eclipse.wst.jsdt.ui.superType.name
ocProjectX/ocOperatorX/.settings/org.eclipse.wst.validation.prefs
ocProjectX/ocPortalX/.classpath
ocProjectX/ocPortalX/.project
ocProjectX/ocPortalX/.settings/.jsdtscope
ocProjectX/ocPortalX/.settings/org.eclipse.core.resources.prefs
ocProjectX/ocPortalX/.settings/org.eclipse.jdt.core.prefs
ocProjectX/ocPortalX/.settings/org.eclipse.m2e.core.prefs
ocProjectX/ocPortalX/.settings/org.eclipse.wst.common.component
ocProjectX/ocPortalX/.settings/org.eclipse.wst.common.project.facet.core.xml
ocProjectX/ocPortalX/.settings/org.eclipse.wst.jsdt.ui.superType.container
ocProjectX/ocPortalX/.settings/org.eclipse.wst.jsdt.ui.superType.name
ocProjectX/ocPortalX/.settings/org.eclipse.wst.validation.prefs
ocProjectX/ocServiceX/.classpath
ocProjectX/ocServiceX/.project
ocProjectX/ocServiceX/.settings/org.eclipse.core.resources.prefs
ocProjectX/ocServiceX/.settings/org.eclipse.jdt.core.prefs
ocProjectX/ocServiceX/.settings/org.eclipse.m2e.core.prefs
ocProjectX/ocServiceX/.settings/org.eclipse.wst.common.component
ocProjectX/ocServiceX/.settings/org.eclipse.wst.common.project.facet.core.xml
ocProjectX/ocWechatX/.classpath
ocProjectX/ocWechatX/.project
ocProjectX/ocWechatX/.settings/.jsdtscope
ocProjectX/ocWechatX/.settings/org.eclipse.core.resources.prefs
ocProjectX/ocWechatX/.settings/org.eclipse.jdt.core.prefs
ocProjectX/ocWechatX/.settings/org.eclipse.m2e.core.prefs
ocProjectX/ocWechatX/.settings/org.eclipse.wst.common.component
ocProjectX/ocWechatX/.settings/org.eclipse.wst.common.project.facet.core.xml
ocProjectX/ocWechatX/.settings/org.eclipse.wst.jsdt.ui.superType.container
ocProjectX/ocWechatX/.settings/org.eclipse.wst.jsdt.ui.superType.name
ocProjectX/ocWechatX/.settings/org.eclipse.wst.validation.prefs
ocProjectX/.project
ocProjectX/.settings/org.eclipse.core.resources.prefs
ocProjectX/.settings/org.eclipse.m2e.core.prefs
ocProjectX/ocCommonX/.classpath
ocProjectX/ocCommonX/.project
ocProjectX/ocCommonX/.settings/org.eclipse.core.resources.prefs
ocProjectX/ocCommonX/.settings/org.eclipse.jdt.core.prefs
ocProjectX/ocCommonX/.settings/org.eclipse.m2e.core.prefs
