<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://10.20.91.130/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.online.college.service.core.consts.dao.ConstsSiteCarouselDao">

    <resultMap id="BeanResultMap" type="com.online.college.service.core.consts.domain.ConstsSiteCarousel" >
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name"  jdbcType="VARCHAR" />
        <result column="picture" property="picture"  jdbcType="VARCHAR" />
        <result column="url" property="url"  jdbcType="VARCHAR" />
        <result column="weight" property="weight"  jdbcType="INTEGER" />
        <result column="enable" property="enable"  jdbcType="TINYINT" />
        <result column="create_time" property="createTime"  jdbcType="DATE" />
        <result column="create_user" property="createUser"  jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime"  jdbcType="TIMESTAMP" />
        <result column="update_user" property="updateUser"  jdbcType="VARCHAR" />
        <result column="del" property="del"  jdbcType="TINYINT" />
    </resultMap> 


    <sql id="All_Columns">
        name, picture, url, weight, enable, create_time, create_user, 
        update_time, update_user, del, id 
    </sql>

    <select id="queryCarousels" parameterType="java.lang.Integer" resultMap="BeanResultMap">
        SELECT 
        <include refid="All_Columns" />
        FROM t_consts_site_carousel 
        WHERE enable = 1
        ORDER BY weight DESC
        LIMIT 0 , #{count}
    </select>

    <select id="getTotalItemsCount" parameterType="com.online.college.service.core.consts.domain.ConstsSiteCarousel" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_consts_site_carousel
        WHERE del = 0 
    </select>
    
    <select id="queryPage" resultType="com.online.college.service.core.consts.domain.ConstsSiteCarousel">
        SELECT 
        <include refid="All_Columns" />
        FROM t_consts_site_carousel
        WHERE del = 0 
        ORDER BY id
        LIMIT #{param2.startIndex, jdbcType=INTEGER} , #{param2.pageSize, jdbcType=INTEGER} 
    </select>

    <select id="getById" parameterType="java.lang.Long" resultType="com.online.college.service.core.consts.domain.ConstsSiteCarousel">
        SELECT 
        <include refid="All_Columns"  />
        FROM t_consts_site_carousel
        WHERE id = #{id, jdbcType=INTEGER}
    </select>

    <insert id="create" parameterType="com.online.college.service.core.consts.domain.ConstsSiteCarousel" flushCache="true"  useGeneratedKeys="true" keyProperty="id"  >
        INSERT INTO t_consts_site_carousel
        ( name, picture, url, weight, enable, create_time, create_user, 
        update_time, update_user, del, id ) 
        VALUES 
        ( #{name, jdbcType=VARCHAR}, #{picture, jdbcType=VARCHAR}, #{url, jdbcType=VARCHAR}, #{weight, jdbcType=INTEGER}, #{enable, jdbcType=TINYINT}, #{createTime, jdbcType=DATE}, #{createUser, jdbcType=VARCHAR}, 
        #{updateTime, jdbcType=TIMESTAMP}, #{updateUser, jdbcType=VARCHAR}, #{del, jdbcType=TINYINT}, #{id, jdbcType=INTEGER} ) 
    </insert>

    <update id="update" parameterType="com.online.college.service.core.consts.domain.ConstsSiteCarousel" flushCache="true">
        UPDATE t_consts_site_carousel SET 
        name = #{name, jdbcType=VARCHAR},
        picture = #{picture, jdbcType=VARCHAR},
        url = #{url, jdbcType=VARCHAR},
        weight = #{weight, jdbcType=INTEGER},
        enable = #{enable, jdbcType=TINYINT},
        update_time = #{updateTime, jdbcType=TIMESTAMP},
        update_user = #{updateUser, jdbcType=VARCHAR}
        WHERE id = #{id, jdbcType=INTEGER} 
    </update>
    
    <insert id="createSelectivity" parameterType="com.online.college.service.core.consts.domain.ConstsSiteCarousel" flushCache="true"  useGeneratedKeys="true" keyProperty="id"  >
        INSERT INTO t_consts_site_carousel
        <trim prefix="(" suffix=")"  suffixOverrides="," >
            <if test="name != null ">
            name,
            </if>
            <if test="picture != null ">
            picture,
            </if>
            <if test="url != null ">
            url,
            </if>
            <if test="weight != null ">
            weight,
            </if>
            <if test="enable != null ">
            enable,
            </if>
            <if test="createTime != null ">
            create_time,
            </if>
            <if test="createUser != null ">
            create_user,
            </if>
            <if test="updateTime != null ">
            update_time,
            </if>
            <if test="updateUser != null ">
            update_user,
            </if>
            <if test="del != null ">
            del,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")"  suffixOverrides="," >
            <if test="name != null ">
            #{name, jdbcType=VARCHAR},
            </if>
            <if test="picture != null ">
            #{picture, jdbcType=VARCHAR},
            </if>
            <if test="url != null ">
            #{url, jdbcType=VARCHAR},
            </if>
            <if test="weight != null ">
            #{weight, jdbcType=INTEGER},
            </if>
            <if test="enable != null ">
            #{enable, jdbcType=INTEGER},
            </if>
            <if test="createTime != null ">
            #{createTime, jdbcType=DATE},
            </if>
            <if test="createUser != null ">
            #{createUser, jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null ">
            #{updateTime, jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null ">
            #{updateUser, jdbcType=VARCHAR},
            </if>
            <if test="del != null ">
            #{del, jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <update id="updateSelectivity" parameterType="com.online.college.service.core.consts.domain.ConstsSiteCarousel" flushCache="true">
        UPDATE t_consts_site_carousel
        <trim prefix="SET" suffixOverrides="," >
            <if test="name != null ">
            name = #{name, jdbcType=VARCHAR},
            </if>
            <if test="picture != null ">
            picture = #{picture, jdbcType=VARCHAR},
            </if>
            <if test="url != null ">
            url = #{url, jdbcType=VARCHAR},
            </if>
            <if test="weight != null ">
            weight = #{weight, jdbcType=INTEGER},
            </if>
            <if test="enable != null ">
            enable = #{enable, jdbcType=TINYINT},
            </if>
            <if test="updateTime != null ">
            update_time = #{updateTime, jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null ">
            update_user = #{updateUser, jdbcType=VARCHAR},
            </if>
            <if test="del != null ">
            del = #{del, jdbcType=TINYINT},
            </if>
        </trim>
        WHERE id = #{id, jdbcType = INTEGER}

    </update>

    <delete id="delete" parameterType="com.online.college.service.core.consts.domain.ConstsSiteCarousel" >
        DELETE FROM t_consts_site_carousel
        WHERE id = #{id, jdbcType=INTEGER}
    </delete>

    <update id="deleteLogic" parameterType="com.online.college.service.core.consts.domain.ConstsSiteCarousel" flushCache="true">
        UPDATE t_consts_site_carousel
        SET del = 1
        WHERE id = #{id, jdbcType=INTEGER}
    </update>

</mapper>
